.hero-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 72px;
line-height: 1.18;

letter-spacing: 0.05em;

color: #FFFFFF;
}
.about-title , .old-title {
 font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;

color: #303030;
}
.barbers-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    
    color: #303030;
    margin-bottom: 44px;  
}

.prices-title , .booking-title , .contacts-title {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 42px;
line-height: 1.16;
letter-spacing: 0.05em;

color: #FFFFFF;
margin-bottom: 44px;
}
